@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}
* {
  font-family: Roboto,Arial, Helvetica, sans-serif
}
.profile-picture{
  width: 45px;
}
svg {
  width: 2rem;
}

div {
  border: solid black 1px;
}